streamlit
# utilities
pandas
numpy

# face recognition
scikit-learn
dlib-bin==20.0.1
#dlib-20.0.99-cp313-cp313-win_amd64.whl
#git+https://github.com/ageitgey/face_recognition_models
face-recognition
face-recognition-models

setuptools==69.5.1

#database
supabase
bcrypt

segno
pillow


librosa

